swagger: "2.0"

basePath: "/"

host: "shakesearch.micahparks.com"

info:
  description: "A ProlificLabs take-home challenge. https://github.com/ProlificLabs/shakesearch."
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
  title: "shakesearch"
  version: "0.0.1"

tags:
  - description: "Endpoints that are publicly accessible."
    name: "public"
  - description: "Endpoints required by the system that are not public facing."
    name: "system"

schemes:
  - "http"

paths:
  /api/alive:
    get:
      summary: "Used by Caddy or other reverse proxy to determine if the service is alive."
      description: "Any non-200 response means the service is not alive."
      operationId: "alive"
      responses:
        200:
          description: "Service is alive."
      tags:
        - "system"

  /api/search:
    get:
      produces:
        - "application/json"
      summary: "Fuzzy search for a string of text in Shakespeare's works."
      description: "The string will be used in conjunction with [this project](https://github.com/sahilm/fuzzy) to
      perform a fuzzy search on Shakespeare's works."
      operationId: "shakeSearch"
      parameters:
        - description: "The search query."
          in: "query"
          name: "q"
          required: true
          type: "string"
        - default: 20
          description: "The maximum number of results to return."
          in: "query"
          name: "maxResults"
          type: "integer"
      responses:
        200:
          description: "A sorted array of results that are lines that match the given query."
          schema:
            items:
              $ref: "#/definitions/Result"
            type: "array"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Error"
      tags:
        - "public"

  /api/works:
    get:
      produces:
        - "text/html"
      summary: "Retrieve an HTML document that contains a snippet of Shakespeare's complete works centered around a line
       number."
      description: "The given line number of Shakespeare's complete works will be surrounded by its lines in the
      complete works up to maxLines. It will be returned as an HTML document."
      operationId: "shakeWorks"
      parameters:
        - description: "The line number to fetch & focus."
          in: "query"
          name: "line"
          required: true
          type: "integer"
        - default: 1000
          description: "The maximum number of lines to return. Half before, half after."
          in: "query"
          name: "maxLines"
          type: "integer"
      responses:
        200:
          description: "The HTML document containing a snippet of Shakespeare's complete works."
          schema:
            type: "file"
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/Error"
      tags:
        - "public"


definitions:

  # Schema for error response body.
  Error:
    properties:
      code:
        type: "integer"
      message:
        type: "string"
    required:
      - "code"
      - "message"
    type: "object"

  # Schema for search results.
  Result:
    properties:
      line:
        description: "The line with a match to the search query."
        type: "string"
      lineNumbers:
        description: "The line numbers in the text file this line is found on."
        items:
          type: "integer"
        type: "array"
      matchedIndexes:
        description: "The indexes in the line that matched the query."
        items:
          type: "integer"
        type: "array"
